body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	display: flex;
	flex-direction: column;

}
*,
:before,
:after {
	box-sizing: border-box;
}

/*-----Header-----*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 30px 58px 0px 67px;	
	
}	
.header__logo {
	margin-top: 17px;
	margin-right: 47px;
}
.header__controls {
	display: flex;
}

/*----------Dropdown*/
.dropdown {
	margin-left: 20px;
	height: 46px;
	width: 46px;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown__body {
    display: none;
    position: fixed;
    top: 0;
  	right: 0;
  	height: 100vh;
    background-color: rgba(255, 255, 255, 0.96);
    width: 33%;
    text-transform: uppercase;
    z-index: 1;
}
.dropdown--close {
	position: fixed;
	top: 46px;
	right: 68px;
}
.dropdown__nav {
	display: flex;
	flex-direction: column;
}
.dropdown__link {
	display: inline-block;
	vertical-align: center;
	position: relative;
	margin-right: auto;
	margin-bottom: 40px;
	font-size: 24px;
	color: #34363B;
	text-decoration: none;

	transition: color .2s linear;
}
.dropdown__link:hover {
	 color: #F44242
}
.dropdown__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	
	background-color: #F44242;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .2s linear;
}
.dropdown__link:hover:after {
	opacity: 1;
}

.dropdown.open .dropdown__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------Search*/
.search {
	height: 46px;
	width: 46px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}
.search__body {
    display: none;
    position: fixed;
    top: 0;
  	right: 0;
  	height: 100vh;
    background-color: rgba(255, 255, 255, 0.96);
    width: 100%;
    text-transform: uppercase;
    z-index: 1;
}
.search--close {
	position: fixed;
	top: 46px;
	right: 68px;
}
.search__input {
	min-width: 930px;
	height: 36px;
	border: none;
	background: none;
	font-size: 18px;
	border-bottom: 1px solid rgba(52, 54, 59, 0.2);
}
.search.open .search__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.find {
	position: absolute;	
	text-align: center;	
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	background: #F44242;

}
.find__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.find__text {
	margin-left: 10px;
}
.dropdown:hover,
.search:hover {
	background-color: #F44242;
	transition: background .2s linear;
}

/*----------Navigation*/
.nav {
	display: flex;
 	font-size: 16px;
 	padding-top: 17px;
 	padding-bottom: 40px;
}
.nav__link {
	margin-left: 40px;
	color: #fff;
	text-decoration: none;
	padding: 0;
}
.nav__link:first-child {
	margin-left: 0;
}

/*-----Slider-----*/
#slides {
	position: absolute;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    z-index: 1;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
.showing {
    opacity: 1;
    z-index: 2;
}
.slide:nth-of-type(1) {
    background: -webkit-linear-gradient(bottom, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
    background: -o-linear-gradient(bottom, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
    background: linear-gradient(to top, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
	background-size: cover;
}
.slide:nth-of-type(2) {	
    background: -webkit-linear-gradient(bottom, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
    background: -o-linear-gradient(bottom, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
    background: linear-gradient(to top, rgba(52, 54, 59, 0.6), rgba(52, 54, 59, 0.6)), url(assets/luca-bravo-SRjZtxsK3Os-unsplash.jpg)  center no-repeat;
	transform: scale(-1, 1);
	background-size: cover;
}

/*-----Intro-----*/
.intro {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	z-index: 3;
}
.intro__item {
	width: 33.333%;
	border: 1px solid rgba(255, 255, 255, .1);
	height: 25vh;
	display: flex;
	align-items: center;
	padding-left: 68px;
	padding-right: 15px;
}
.intro__item:hover {
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.intro__title {
	text-transform: uppercase;
	font-size: 24px;
}
.intro__links {
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 16px;
	display: none;
}
.intro__link {
	margin-bottom: 10px;
}
.item__image {
	display: none;
}
.intro__item:hover .intro__links{
	display: block;

}
.intro__item:hover .item__image{
	display: block;
}
.intro__item:hover .intro__title {
	margin-bottom: 20px;
}
.intro__item--odd:hover {
	background-color: #4285F4;
	transition: background .3s linear;
}
.intro__item--even:hover {
	background-color: #F44242;
	transition: background .3s linear;
}
/*----------Scroll Button*/
.scroll {
	display: none;
	width: 100%;
	text-align: center;
}
.scroll__inner {
	text-align: center;
	vertical-align: top;
	padding: 10px;
	cursor: pointer;
}
.scroll__text {
	font-size: 14px;
	text-transform: uppercase;
	color: #34363B;
	margin-top: 8px;
}
/*-----Footer-----*/
.footer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	padding: 0 67px 28px;
	width: 100%;

	font-size: 17px;
	color: rgba(255, 255, 255, 0.4);

	background-color: none;
}


/*-----Media-----*/
@media (max-width: 1024px) {
	/*Header*/
	.header__inner {
		padding: 30px 28px 0;
	}
	.header__logo {
		margin-top: 0;
		margin-right: 57px;
	}

	/*-----Search*/
	.search__input {
		min-width: 620px;
	}

	/*-----Navigation*/
	.nav__link {
		font-size: 12px;
		margin-left: 10px;
	}

	/*Intro*/
	.intro__item {
		padding-left: 28px;
	}
	.intro__title {
		font-size: 18px;
	}
	.intro__links {
		font-size: 12px;
	}

	/*Footer*/
	.footer {
		font-size: 14px;
		padding: 0 28px 30px;
	}
}


@media (max-width: 768px) {
	/*Header*/
	.header__inner {
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		padding: 27px 20px 0;
	}
	.header__controls {
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.header__logo {
		width: 100%;
		margin: 5vh 0 5vh;
		text-align: center;

	}

	/*----------Navigation*/
	.nav {
		display: none;
	}

	/*----------Dropdown*/
	.dropdown--close, .search--close {
		top: 26px;
		right: 20px;
	}
	.dropdown__body {
		width: 100%;
	}
	.dropdown__link {
		font-size: 18px;
		margin: 0 auto 40px;
	}
	/*----------Search*/
	.search__input {
		min-width: 280px;
	}
	.find {
		height: 80px;
	}
	.find__inner {
		font-size: 14px;
	}
	/*Slider*/
	.slide {
		width: 100%;
		height: 33.33vh;
	}
	/*Intro*/
	.intro {
		height: 33.33vh;
	}
	.intro__item {
		padding: 36px 0 40px;
		height: 33.33vh;
		width: 100%;
		border: none;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}
	.intro__item:hover {
		flex-direction: column;
	}
	.intro__item--even {
		background-color: #F44242;
	}
	.intro__item--odd {
		background-color: #4285F4;
	}
	.intro__content {
		text-align: center;
	}
	.intro__title {
		margin-bottom: 20px;
	}
	.item__image {
		display: block;
	}
	.intro__links {
		opacity: 1;
		font-size: 14px;
		display: flex;
		justify-content: center;
	}
	.intro__item:hover .intro__links {
		display: flex;
	}
	.intro__link {
		margin: 10px 25px 0;
	}
	.intro__item--fake {
		display: none;
	}
	.intro__item:first-child {
		display: block;
	}
	/*----------Scroll*/
	.scroll {
		display: block;
	}
	/*Footer*/
	.footer {
		display: block;
		text-align: center;
		position: initial;
		font-size: 12px;
		color: rgba(52, 54, 59, 0.8);
		background: #F5F6F7;
		padding: 30px 0;
	}	
	.copyright {
		margin: 0;
		margin-bottom: 5px;
	}
	.footer__text {
		margin: 0;
		margin-top: 5px;
	}
}